<div class="container">
  
  <div class="page-header">
    <h1>PhotoShare<small> Share Photos with Groups</small></h1>
  </div> <!-- End Page-Header -->
  
  <div class="row">
    <div class="span4">
    <h2><%= link_to "My Groups", groups_path %> </h2>
    </div>
  </div><!-- End Row-->
  
</div> <!-- End Container-->
